.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../pages/windowsxp.png');
  background-size: 100% 100%;
  background-position: center;
  height: 100vh; 
  overflow: none;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.simpleContainer {
  max-width: 500px;
  padding: 1rem;
}

.inlineContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  color: #0f172a;
}

.largerTitle {
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  color: #0f172a;
  margin-top: 5px;
  margin-bottom: 5px;
}

.keystrokesContainer {
  background-color: #56b3ff;
}

.imageContainer {
  width: 20vh;
  position: relative;
}

.smallImageContainer {
  width: 10vh;
  position: relative;
}

.divAsLink:hover {
  cursor: pointer;
}

.nftForm {
  display: flex;
  justify-content: center;
}

.nftForm input {
  flex: 1;
  padding: 1rem;
  margin: 0;
  margin-right: -1.5px;
  border: 1.5px solid #0f172a;
}

.nftForm input:hover {
  border-color: #4f46e5;
  z-index: 1;
}

.nftForm input:focus {
  outline: none;
  border-color: #4f46e5;
  z-index: 1;
}

.nftForm button {
  background: white;
  padding: 1rem;
  margin: 0;
  border: 1.5px solid #0f172a;
  color: #0f172a;
  font-weight: bold;
  cursor: pointer;
}

.nftForm button:hover {
  border-color: #4f46e5;
  color: #4f46e5;
}

.nftPreview {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nftPreview h1 {
  font-size: 20px;
  font-weight: 500;
  color: #0f172a;
  border: 1.5px solid #0f172a;
  background-color: white;
  padding: 0.5rem 1rem;
  position: relative;
  margin-bottom: -22px;
  transform: rotate(-5deg);
}

.nftPreview img {
  max-width: 100%;
}

.dropdown {
  padding:5px;
  margin:5px;
}

.wallet-adapter-dropdown-list-active {
  position: fixed;
  top: 10%;
}

.wallet-adapter-button{
  color: black !important;
}

.wallet-adapter-modal-list{
  color: black !important;
}

.wallet-adapter-modal-list-more{
  color: black !important;
}

.scrollableText {
  max-height: 34vh;
  overflow-y: auto;
}

/* .wallet-adapter-dropdown{
  transform: scale(2);
} */